@import "@/assets/styles/vars.scss";

.season-container {
    display: flex;
    flex-direction: column;
    height: 600px;
    border-bottom: 5px solid white;

    &__bg-img {
        display: flex;
        justify-content: center;

        img {
            border-radius: 3px;
            opacity: 0.2;
            height: 550px;
            width: 100%;
        }
    }

    &__season-img {
        display: flex;
        position: absolute;
        margin-left: 40px;
        margin-top: 40px;
        justify-content: center;
        z-index: 10;

        img {
            height: 200px;
            width: 150px;
            border-radius: 10px;
        }
    }

    &__season-name {
        display: flex;
        font-size: 22px;
        position: absolute;
        margin-left: 210px;
        margin-top: 40px;
    }

    &__release-info {
        display: flex;
        position: absolute;
        gap: 14px;
        margin-top: 70px;
        margin-left: 215px;


        .season-rating {
            display: flex;
            background-color: grey;
            border-radius: 2px;
            justify-content: center;
            align-items: center;
            height: 20px;
            width: 40px;

        }

        .season-year {
            display: flex;
            background-color: grey;
            justify-content: center;
            align-items: center;
            height: 20px;
            width: 40px;
            border-radius: 2px;
        }

        .season-age-restriction {
            display: flex;
            background-color: grey;
            border-radius: 2px;
            justify-content: center;
            align-items: center;
            height: 20px;
            width: 30px;
        }
    }

    &__details {
        display: flex;
        position: absolute;
        flex-direction: column;
        gap: 5px;
        margin-top: 110px;
        margin-left: 210px;
        color: $season-preview-color;

        &__preview-short-description {
            display: flex;

            .short-description {
                display: flex;
                align-items: center;
                flex-direction: row;
                color: white;
                margin-left: 10px;
            }
        }

        &__preview-release-date {
            display: flex;

            .release-data {
                color: white;
                margin-left: 10px;
            }
        }

        .genre-list {
            display: flex;
            align-items: center;
            margin-top: 5px;
            gap: 10px;

            .genre-item {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 20px;
                width: 80px;
                border: 2.5px solid #0b544a;
                border-radius: 2px;
                color: white;
            }
        }
    }
}
