.catalog-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: #16151d;
    width: 400px;
    margin-right: 100px;
    overflow: hidden;
    height: 500px;
    border-radius: 10px;
    font-family: "Comfortaa", sans-serif;

    &__buttons {
        display: flex;
        flex-direction: row;
        gap: 20px;
        z-index: 99;
    }
}
