.fetch-anime-button button{
    border: none;
    background-color: rgb(125, 248, 88);
    cursor: pointer;
    padding: 10px 40px;
    font-size: 1rem;
    color: #000;
    border-radius: 10px;
    font-family: "Comfortaa", sans-serif;
}