.card-top {
  position: relative;

  h1 {
    text-shadow: 0 0 4px rgba(0, 0, 0, 5);
  }
}

img {
  width: 440px;
  border-radius: 10px;
  position: relative;
  transition: opacity 0.5s ease;
  opacity: 0.8;
}

.cart:hover img {
  opacity: 0.25;
}

.cart {
  position: relative;
  overflow: hidden; //Скрывает содержимое, которое выходит за границы
}

h1,
.card-description {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  font-size: larger;
  margin-left: 10px;
  opacity: 1;
}

.cart:hover h1 {
  opacity: 0;
}

.cart:hover .card-description {
  opacity: 1;
}

.card-description {
  opacity: 0;
  transition: opacity 0.5s ease;
  padding: 10px;
  box-sizing: border-box;
  max-width: 80%;
  text-align: center;
  position: absolute;
  bottom: 50%;
  transform: translate(0, 50%);
}

body {
  margin-left: 25px;
}
