version: 2
authtoken: Get your authtoken from here: https://dashboard.ngrok.com/get-started/your-authtoken
tunnels:
  first:
    addr: fake-api:3000
    proto: http
    hostname: Get your domain from here: https://dashboard.ngrok.com/cloud-edge/domains
    response_header:
      add:
        - "Access-Control-Allow-Headers: *"
        - "Access-Control-Allow-Methods: GET, POST, PUT, DELETE, OPTIONS"
        - "Access-Control-Allow-Credentials: true"
