@import "@/assets/styles/vars.scss";

.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #757575;

    &__center-panel {
        display: flex;
        list-style: none;
        gap: 20px;
    }

    &__center-panel li:hover {
        color: white;
        transition: 0.25s;
        transform: scale(1.15);
    }

    &__left-panel {
        display: flex;
        padding: 20px;
    }

    &__right-panel {
        display: flex;
        align-items: center;
        gap: 15px;
        padding-right: 20px;
    }

    .user-profile {
        display: flex;
        padding-left: 1px;
    }

    .search {
        display: flex;
        padding-right: 5px;
        cursor: pointer;
        border: none;
        background-color: transparent;
    }

    .search:hover {
        transform: scale(1.5);
        transition: 0.25s;
    }

    .user-profile {
        cursor: pointer;
        border: none;
        background-color: transparent;
    }

    .user-profile:hover {
        transform: scale(1.5);
        transition: 0.25s;
    }

    .login:hover {
        color: white;
        transition: 0.25s;
        transform: scale(1.2);
    }
}

@media only screen and (max-width: 600px) {
    .navigation-bar {
        display: flex;
        justify-content: space-between;
        background-color: #757575;
        border-bottom: 1.5px solid;

        &__center-panel {
            display: none;
        }

        &__left-panel {
            display: flex;
            padding: 10px;
        }

        &__right-panel {
            display: flex;
            align-items: center;
            gap: 9px;
            color: white;
        }

        .search:hover {
            transform: none;
            transition: none;
        }

    }
}
