.catalog {
    &__main {
        display: flex;
        flex-direction: row-reverse;

        &__data {
            width: 100%;
        }

        &__filter {
            margin-top: 20px;
            width: 760px;
            height: 600px;
            display: flex;
            flex-direction: row-reverse;
        }
    }
}
