.genre {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 94%;
    font-family: "Comfortaa", sans-serif;

    & button {
        width: 100%;
        font-size: 1rem;
        margin: 10px 0 10px 0;
        border: none;
        cursor: pointer;
        transition: 0.5s;
        font-family: "Comfortaa", sans-serif;

        &:hover {
            background-color: #fff;
        }

        &:focus {
            outline: none;
        }
    }
}
