.slider-season .slider-arrow {
    height: 13svw !important;
    width: 2svw !important;
    border-radius: 10% !important;
    background: rgba(0, 5, 23, .3) !important;
    opacity: 0;
    z-index: 99;
    margin-left: 15px;
    margin-right: 25px;
}

.slider-season .slick-slider:hover {
    .slick-next {
        opacity: 1;

        &:hover {
            background-color: none !important;

            img {
                transform: scale(1.3);
                transition: 0.2s ease-in-out;
            }
        }
    }

    .slick-prev {
        opacity: 1;

        &:hover {
            background-color: none !important;

            img {
                transform: scale(1.3);
                transition: 0.2s ease-in-out;
            }
        }
    }
}

.slider-season,
.slick-next:before,
.slick-prev:before {
    content: "" !important;
}
