.auth-buttons {
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 130px;
    margin-left: 60px;
}

@media screen and (max-width: 500px) {
    .auth-buttons {
        margin-left: 0;
        width: 100%;
        align-items: center;
    }
}

@media screen and (max-height: 550px) {
    .auth-buttons {
        margin-bottom: 100px;
    }
}
