@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

.bg-banner {
    display: flex; 
    flex-direction: column;
    background-size: cover;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: flex-start;
    width: 100svw;
    height: 650px;
    box-shadow: 
    inset 0 40px 30px -10px #000,
    inset 0 -300px 200px -10px #000;

    &__season-text:nth-child(1) {
        max-width: 30svw;
        height: auto;
        margin-left: 5svw;
    }

    &__season-text p,
    &__season-text h1 {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        color: #fff;
        font-family: "Comfortaa", sans-serif;
        font-style: normal;
        line-height: normal;
    }

    &__watch-buttons {
        display: flex;
        flex-direction: row;
        gap: 25px;
        margin-left: 5svw;
        margin-top: 16px;
        margin-bottom: 60px;
    }

    &__season-text p {
        font-size: 1.5vw;
        font-weight: 200;
        letter-spacing: -1px;
    }

    &__season-text h1 {
        font-size: 40px;
        font-weight: 600;
        letter-spacing: -1.5px;
    }

    &__slider:nth-child(3) {
        align-self: center;
    }
}

@media screen and (max-width: 1300px) {
    .bg-banner {

        &__season-text p {
        font-size: 2vw;
        }
        
        &__season-text h1 {
        font-size: 3vw;
        }
    }
}

@media screen and (max-width: 900px) {
    .bg-banner {
        
        &__season-text:nth-child(1) {
            max-width: 50svw;

            & p {
            font-size: 2.5vw;
        }
        } 

        &__season-text h1 {
        font-size: 4vw;
        }
    }
}

@media screen and (max-width: 650px) {
    .bg-banner {

        &__season-text:nth-child(1) {
        max-width: 70svw;
        align-self: center;
        margin-left: 0;
        }

        &__watch-buttons:nth-child(2) {
        align-self: center;
        margin-left: 0;
        }
    }
}

@media screen and (max-width: 500px) {
    .bg-banner {
        &__season-text:nth-child(1) {
            & p {
                font-size: 5vw;
            }

            h1 {
                font-size: 6vw;
            }
        }

        &__watch-buttons:nth-child(2) {
        flex-direction: column;
        align-self: center;
        }
    }
}

@media screen and (max-width: 480px) {
    .bg-banner {

        margin-bottom: 80px;
        box-shadow: inset 0 40px 30px -10px #000,
            inset 0 -40px 30px -10px #000;
    }
}

@media screen and (max-width: 400px) {
    .bg-banner {

        &__season-text:nth-child(1) {
        max-width: 70svw;

            & p {
                font-size: 6vw;
            }

            h1 {
                font-size: 7vw;
            }
        }
    }
}
