@import "./assets/styles/vars.scss";

body {
    max-width: 100svw;
    min-height: 100svh;
    background-color: $theme-bg-color;
    color: $theme-text-color;
    margin: 0;
    padding: 0;
}

#root {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

a {
    color: inherit;
    text-decoration: none;
}
