.slider-arrow {
  font-size: 30px;
  padding: 5px 5px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  top: 100px;
  cursor: pointer;
}

.slider-arrow-right {
  right: -20px;
}

.slider-arrow-left {
  left: -20px;
}
