.userProfile {
    text-align: center;
    margin: 20px;

    img {
        max-width: 150px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 18px;
        color: #333;
    }
}
