$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 800;

$theme-bg-color: #000;
$theme-text-color: #fff;

$nav-bar-bg-color: #757575;
$nav-bar-text-color: #fff;
$nav-bar-font-size: 14px;
$nav-bar-transition-duration: 0.25s;
